body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 20px;
    background-color: rgba(154, 64, 238, 0.336);


}

.navbar-head {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media (min-width:600px) {


    .navbar .item {
        position: absolute;
        right: 0;
        top: 5px;

    }

    .navbar .item ul li {
        display: inline;
        margin-right: 15px;
    }

    .navbar .item ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
    .btn{
        display: none;
    }
}

@media (max-width:600px) {

    .navbar ul,
    a {
        padding: 0;
        list-style: none;
        text-decoration: none;
        color: white;
        line-height: 35px;
        font-size: 20px;
        text-align:center;
        text-transform: capitalize;
        

    }

    .navbar .item ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.514);

    }
    .btn{
        position: absolute;
        right: 30px;
        font-size: 20px;
        cursor: pointer;
        background-color: rgba(119, 0, 255, 0);
        border: none;
    }

    .hide{
            display: none;
         }




}